# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Секретный ключ, используемый для криптографических подписей.
SECRET_KEY=
DEBUG=

# Вставьте свои данные для работы с базой данных
NAME=
USER=
PASSWORD=
HOST=
PORT=

# Секретный ключ, для использования в stripe
STRIPE_API_KEY=

# Вставьте свои данные для настройки почты
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Вставьте свои данные для настройки redis
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=